.carousel{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  border-radius: 10px;
  padding: 15px;
  margin: 40px;
  background-color: rgba(255, 255, 255, 0.1);
  transition: all ease-in-out 0.3s;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);

  &:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.3);
    transition: all ease-in-out 0.3s;
  }

  div{
    margin: 0 5px;
    width: 130px;
    height: 95px;
    border-radius: 10px;
    background-size: cover;
    border: 1px solid rgba(200, 200, 200, 0.3);
    transition: all ease-in-out 0.3s;
    opacity: 0.8;

  &:hover{
    background-size: cover;
    transform: scale(1.2) translateY(-20px);
    transition: all ease-in-out 0.3s;
    opacity: 1;
    z-index:2;
    cursor: pointer;
  }

}}

